<%# This portlet can only display a single slideshow per page by default.
    - It uses an explicit ids (#slide and #controls).
    - It could be changed via the template editor.
    - CSS needs to be handled externally to stack things correctly.
-%>
<script type="text/javascript">
//<![CDATA[  
  $(function() {
    var slides = $('#slides div.slide');
    var currentItem = 0;
    var rotate_interval = <%= @portlet.rotate_interval.to_i %> * 1000;
    var autorotate = <%= @portlet.autorotate %>; 

    var runSlideShow = function() { 
      var item = $('#slides ul#controls li a:eq('+currentItem+')');
        if (item.length) {
          item.trigger('click', ['timer']);
          currentItem++;
        } else {
          currentItem = 0;
        }
     };

    var selectSlide = function(e) {
      if ($(this).parent().hasClass('on')) {
        return false;
      } else {
        $('#slides ul#controls li').removeClass('on');
        $(this).parent().addClass('on');
        slides.hide();
        slides.filter(this.hash).show();
        return false;
      }
    };

    slides.hide();
    slides.filter(':first').show();
    $('#slides #controls li').filter(':first').addClass('on');
    $('#slides ul#controls li a').bind('click', {}, selectSlide).
      each(function(i) { this.slideIndex=i; });

    if (autorotate) { 
      setInterval(runSlideShow, (rotate_interval < 1000 ? 1000 : rotate_interval)); 
    }
  });
//]]>
</script>

<div id="slides">
  <ul id="controls">
    <% @slides.each_with_index do |slide, i| %>
        <li><a href="#slide-<%= i %>"><%= h slide.name %></a></li>
    <% end %>
  </ul>
  <% @slides.each_with_index do |slide, i| %>
      <div id="slide-<%= i %>" class="slide">
        <div class="info">
          <div class="pad">
            <h3><%= h slide.name %></h3>
            <%= slide.description %>
          </div>
        </div>
        <% unless slide.image_url.blank? %>
          <%= image_tag slide.image_url, :alt => h(slide.alt_text) %>
        <% end %>
      </div>
  <% end %>
</div>
