<div id="slides" data-rotate-interval="<%= @portlet.rotate_interval.to_i %>" data-autorotate="<%= @portlet.autorotate %>">
  <ul id="controls">
    <% @slides.each_with_index do |slide, i| %>
        <li><a href="#slide-<%= i %>"><%= h slide.nav_title_or_name %></a></li>
    <% end %>
  </ul>
  <% @slides.each_with_index do |slide, i| %>
  <div id="slide-<%= i %>" class="slide">
    <div class="info">
      <div class="pad">
        <h3><%= h slide.name %></h3>
        <%= slide.description.html_safe %>
        <%= link_to("Read More &raquo;".html_safe, slide.link_url) if slide.has_link?  %>
      </div>
    </div>
    <% unless slide.image_url.blank? %>
      <%= image_tag(slide.image_url, :alt => h(slide.alt_text)) %>
    <% end %>
  </div>
  <% end %>
</div>

